/*********************************************************/
/*********************************************************/
/*********************** PAGE NEW ************************/
/*********************************************************/
/*********************************************************/

#bouton-background {
    border: none;
    background: none;
}

#test5{
    position: initial;
    opacity: 1 !important;
    width: 50px;
    height: 50px;
    text-align: center !important;

}

.upload_file_event{
    display: none;
    transition: 1.5s;
}

/************************************************
*
*   1. Color Picker
$
************************************************/

select{
    display: none;
}

/*********************************************************/
/*********************************************************/
/******************* PAGE SHOW EDIT NEW ******************/
/*******************    GLOBAL TABLE    ******************/
/*********************************************************/
/*********************************************************/

.calendar-table {
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
}

.calendar-row{
    border-bottom: 1px;
    border-bottom-color: #5a5959;
    border-bottom-style: groove;
}

.calendar-td{
    width: 170px;
    height: 130px;

    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;

    background-color: rgba(118, 135, 146, 0.9);
    color: #dff1ff;
}

.calendar-border-toprightdate .calendar-border-topright .calendar-td{
    background-color: white;
}

.calendar-p{
    margin-left: 10px;
}

.bouton-retour {
    color: darkgreen;
    font-size: 36px !important;
}

.ombre{
    border-right: 1px !important;
    border-right-style: groove!important;
    border-color: #dff1ff !important;
}

.asterix{
    top: 4px;
    color: darkred;
}

/*********************************************************/
/******************* PAGE SHOW EDIT NEW ******************/
/*******************    GLOBAL TABLE    ******************/
/********************** RESPONSIVE ***********************/
/*********************************************************/

.calendar-responsive-table{
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.calendar-responsive-td{
    height: 30px!important;

    border-bottom: 1px;
    border-bottom-style: groove;
}

.calendar-responsive-p{
    margin-left: 10px;

    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;

    background-color: rgba(118, 135, 146, 0.9) !important;
    color: #dff1ff!important;
}

.calendar-responsive-input{
    width: 200px !important;
    text-align: center !important;
}

#textrea{
    width: 200px!important;
}

#colorpicker{
    width: 200px;
    text-align: center;
}

.calendar-div-size{
    width : 130px !important;
    height: 50px;
    margin-inline-start: 50px!important;
}
.asterix{
    top: 4px;
    color: darkred;
}

/*********************************************************/
/*********************************************************/
/*********************** PAGE SHOW ***********************/
/*********************************************************/
/*********************************************************/

.color-show-p{
    color: #a0a6ad;
    text-align: center;
}

.show-image{
    width: 400px;
    height: auto;
    text-align: center;

}

/*********************************************************/
/*********************************************************/
/********************** PAGE SEARCH **********************/
/*********************************************************/
/*********************************************************/

#table_id{
    padding-top: 0px;
}

.calendar-td-color{
    background-color: rgba(0,0,0,0);
    color: rgba(118, 135, 146, 0.9);
}

.calendar-search-td{
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;

    background-color: rgba(118, 135, 146, 0.9);
    color: #dff1ff;
}