/*********************************************************/
/*********************************************************/
/*********************** PAGE NEW ************************/
/*********************************************************/
/*********************************************************/

.caledar-new-table{
    /*float: inherit;*/
    /*center;*/
}

#bouton-background {
    border: none;
    background: none;
}

.new-input{
    width: 300px !important;
}

#plateformebundle_agenda_start_time{
    position: absolute;
    left: 930px;
    top: 425px;
}

#plateformebundle_agenda_end_time{
    position: absolute;
    left: 930px;
    top: 650px;
}

#test5{
    left: 900px !important;
    opacity: 1 !important;
    width: 50px;
    height: 50px;
    top: 1110px;
}

.upload_file_event{
    display: none;
    transition: 1.5s;
}

/************************************************
*
*   1. Color Picker
$
************************************************/

.color-form{

}
#colorpicker{
    width: 300px;
}

/*********************************************************/
/*********************************************************/
/*********************** PAGE EDIT ***********************/
/*********************************************************/
/*********************************************************/




/*********************************************************/
/*********************************************************/
/******************* PAGE SHOW EDIT NEW ******************/
/*******************    GLOBAL TABLE    ******************/
/*********************************************************/
/*********************************************************/

.calendar-table {

    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.calendar-td{
    margin : auto;
    padding-right: -100px;

    border-bottom: 1px;
    border-bottom-style: groove;

    background-color: rgba(118, 135, 146, 0.9);
    color: #dff1ff;
}

.calendar-border-topright{
    border-top-right-radius: 50px;
}

.calendar-border-topleft{
    border-top-left-radius: 50px;
}

.calendar-border-topright{
    border-bottom-right-radius: 50px;
}

.calendar-p{
  margin-left: 10px;
}

.calendar-td-twig{
    width: 600px !important;

    border-bottom: 1px;
    border-bottom-style: groove;
    border-color: #515e69;
}

.bouton-retour {
    color: darkgreen;
    font-size: 36px !important;
}

.file{
}
/*********************************************************/
/*********************************************************/
/*********************** PAGE SHOW ***********************/
/*********************************************************/
/*********************************************************/

.color-show-p{
    color: #a0a6ad;
    text-align: center;
}

.show-image{
    width: 400px;
    height: auto;
    text-align: center;

}

