/********************  PROFIL   ************************/

.img-circle{
  width: 10vw;
}


.profile_center{
  text-align: center;
}



.btn-primary {
  background-color: #1f7b88;
  border-color: #17505b;
}

.container_profile{
  padding-top:3%;
}


input{
  margin:6px;
  position: center;
}

.button{
  margin-left: 36%;
  padding: 24px;
}

