
/*-----------------------------------------------------*\
                          BARRE RECHERCHE
\*-----------------------------------------------------*/

.barreRecherche {

}

/*-----------------------------------------------------*\
                          NAVBAR
\*-----------------------------------------------------*/

.nav-wrapper{
  font-size: 16px;
  background-color: #515e69;
  z-index: 1000;
  position: fixed;
  transition-duration: .3s;
}

.navbar2{
  height: 48px;
  border-top: solid 2px #424242;
}

//.hide-on-med-and-down-navbarleft{
//  background-color: red;
//}

nav{
  background-color: #5a6b77;
  line-height: 44px;
}

#nav-wrapper2{
  font-size: 16px;
  background-color: rgba(91, 104, 115, 0.9);
  z-index: 1000;
  position: fixed;
  transition-duration: .3s;
}


#dropdown1 {
  top: 65px !important;
  left: 15px !important;
}

.dropdown-content {
  margin-top: 115px;
}

.dropdown-content{
  background-color: #aeb5b64d;
}

.nav-wrapper-plateforme {
  z-index: auto;
}

.decouverte:hover{
  background-color: rgba(7,64,10, 0.6);
  height: 44px;
}

.haras:hover{
  background-color: rgba(140, 104, 34, 0.6);
  height: 44px;
}

.detente:hover{
  background-color: rgba(39, 34, 140, 0.6);
  height: 44px;
}

.coworking:hover{
  background-color:rgba(183, 21, 134, 0.6);
  height: 44px;
}

//.navbar-fixed{
//  top: 0;
//  left: 0;
//  right: 0;
//  //height: 66px;
//  width: 100%;
//  z-index: 1000;
//  color: #6d7a8b;
//  font-size: 14px;
//  background: #404852;
//  transition-duration: .3s;
//  box-shadow: 0 2px 10px rgba(109,122,139,.1);
//  backface-visibility: hidden;
//}
//
//.navbar-fixed.is-hidden{
//  transform: translateY(-140%);
//}
//
//.navbar-fixed.is-scrolled{
//  background-color: rgba(64,72,82,.95);
//}


//#header-nav{
//  //position: fixed;
//  top: 0;
//  display: block;
//  width: 100%;
//  background: black;
//  //background-color: rgba(0, 0, 0, 0.1);
//
//  // On Scroll animation
//  -webkit-transition:-webkit-transform 0.7s .3s ease;
//  -moz-transition:   -moz-transform 0.7s .3s ease;
//  -ms-transition:    -ms-transform 0.7s .3s ease;
//  transition:        transform 0.7s .3s ease;
//
//  // Stop animation flicker
//
//  -webkit-backface-visibility: hidden;
//  -webkit-transform: translate3d(0px, 0px, 0px);
//
//}
//
//#header-nav.hide-nav-bar{
//  -webkit-transform: translate(0, -80%);
//  -moz-transform: translate(0, -80%);
//  -ms-transform: translate(0, -80%);
//  transform: translate(0, -80%);
//  -webkit-backface-visibility: hidden;
//}
//
//// Small screen styles
//
//nav[role=navigation] {
//  clear: right;
//  -webkit-transition: all 0.3s ease-out;
//  -moz-transition: all 0.3s ease-out;
//  -ms-transition: all 0.3s ease-out;
//  -o-transition: all 0.3s ease-out;
//  transition: all 0.3s ease-out;
//}
//.js nav[role=navigation] {
//  overflow: hidden;
//  max-height: 0;
//}
//nav[role=navigation].active {
//  max-height: 15em;
//}
//nav[role=navigation] ul {
//  margin: 0;
//  padding: 0;
//  float: left;
//  padding: 0.7em 0;
//}
//nav[role=navigation] li a {
//  display: block;
//  padding: 0.8em;
//  //  padding: 0.4em;
//  font-size: 0.9em;
//}


/*-----------------------------------------------------*\
                          LOGO - ICON
\*-----------------------------------------------------*/


ul.right.hide-on-med-and-down{
  padding-top: 1px;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

#plateforme-logo{
  background-color: #577a37;
  height:64px;
}


#plateforme-logo:hover{
  background-color: #496b35;
}

a.plateforme-logo{
  padding: 0px;
}

a.plateforme-logo:hover{
  background-color: transparent;
  height: 100%;
}

nav ul.left {
  height: 56px;
}
.icon-background1 {
  color: rgba(7,64,10, 0.6);
}

.icon-background2 {
  color: rgba(140, 104, 34, 0.6);
}

.icon-background3 {
  color: rgba(39, 34, 140, 0.6);
}

.icon-background4 {
  color: rgba(183, 21, 134, 0.6);
}

.icon-background5 {
  color: rgba(24, 19, 239, 0.6);
}


  /*-----------------------------------------------------*\
                            BODY
  \*-----------------------------------------------------*/


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}


/*-----------------------------------------------------*\
                          FOOTER
\*-----------------------------------------------------*/

footer.page-footer{
  background-color: rgba(118, 135, 146, 0.9);
  margin-top:0px;
}


/*-----------------------------------------------------*\
                          MEDIA-QUERIES
\*-----------------------------------------------------*/

@media screen and (max-width:600px){
  #plateforme-logo{
    height: 55px;
  }
}

@media screen and (max-width:330px){
  .newsletter-logo{
    margin-right: -1%;
  }
  .post-logo{
    margin-left: -3%;
  }
  .agenda-logo{
    margin-left: -3%;
  }
  .profile-logo{
    margin-left: -3%;
  }
}

@media screen and (max-width:398px){
  .right{
    margin-right:-4%;
  }
}

@media screen and (max-width:350px){
  .right{
    margin-right:-15%;
  }
}

@media screen and (max-width:398px){
  .right{
    margin-right:-4%;
  }
}

@media screen and (max-width:320px){
  .newsletter-lien{
    padding-left: 2px;
  }
  .newsletter-lien{
    margin-right: -8%;
  }
  .post-logo{
    margin-right: -9%;
  }
  .agenda-logo{
    margin-right: -22px;
  }
  .profile-logo{
    margin-left: 0%;
  }
  .right {
    margin-right: -15%;
  }
}

@media screen and (max-width:990px){

}