/********************  LISTE USERS   ************************/

#usermodel{
  width: 60%;
  background-color: rgba(177, 176, 206, 0.3);
  padding: 10px 0px 15px 0px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.dataTables_length{
  margin-left:5%;
}

.dataTables_filter{
  margin-right:5%;
}

#table_id{
  padding-top:20px;
  margin-bottom: 20px;
}

.boutons_user{
  width: 12%;
}