/********************  LISTE USERS   ************************/

#usermodel{
  width: 40%;
  background-color: rgba(177, 176, 206, 0.3);
  padding: 10px 0px 15px 0px;
  margin-bottom: 20px;
  border-radius: 15px;
}


.dataTables_length{
  margin-left:5%;
}

.dataTables_filter{
  margin-right:5%;
}

#table_id{
  padding-top:20px;
  margin-bottom: 20px;
}

.boutons_user{
  width: 12%;
}

tr .responsive-img{
  width: 6vw;
}

#user_edit_model .row {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
  text-align: left;
}

#user_list_model {
  width: 60%;
  background-color: rgba(177, 176, 206, 0.3);
  padding: 10px 0px 15px 0px;
  margin-bottom: 20px;
  border-radius: 15px;
}

#user_edit_model{
  width: 40%;
  background-color: rgba(177, 176, 206, 0.3);
  padding: 10px 0px 15px 0px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.boutons_user {
  width: 18%;
}

.user.btn-floating.btn-large{
  line-height:44px;
}
//.user.btn-floating.btn-large.waves-effect.tooltipped.icon-background2{
//  line-height:44px;
//}
//.user.btn-floating.btn-large.waves-effect.tooltipped.icon-background3{
//  line-height:44px;
//}
//.btn-large.waves-effect.tooltipped.icon-background4{
//  line-height:44px;
//}
//.btn-large.waves-effect.tooltipped.icon-background5{
//  line-height:44px;
//}


.user.btn-floating.btn-large i {
  line-height: 38px;
}

.user.btn-floating.btn-large {
  width: 36px;
  height: 36px;
}

/*-----------------------------------------------------*\
                          MEDIA-QUERIES
\*-----------------------------------------------------*/


@media screen and (max-width:1525px) {
  #user_edit_model {
    width: 70%;
  }
}

#user_list_model {
  width: 75%;
  background-color: rgba(177, 176, 206, 0.3);
  padding: 10px 0px 15px 0px;
  margin-bottom: 20px;
  border-radius: 15px;
}


@media screen and (max-width:1700px) {
  .row.input-field.user{
    padding-left:31%;
    padding-right: 29%;
  }
}

@media screen and (max-width:1350px) {
  .row.input-field.user{
    padding-left:31%;
    padding-right: 23%;
  }
}

@media screen and (max-width:1250px) {
  .row.input-field.user{
    padding-left:31%;
    padding-right: 17%;
  }
}

@media screen and (max-width:800px) {
  #user_edit_model {
    max-width: 70%;
  }

  #user_edit_model .row {
    margin-left: 0.25rem !important;
    margin-right: 1.25rem !important;
  }
}

@media screen and (max-width:900px) {
  .row.input-field.user{
    padding-left:23%;
    padding-right: 16%;
  }
}