/*//////////////////////////////////////////////
///////////// _admin.scss /////////////////////
//////////////////////////////////////////////*/


#_admin {
    background-color: darkgrey;
    height: 100%;
    width: 100%;
    //background-image: url("../../../public/images/test.png");
    color: darkslategrey;

    .admin_button {
      font-size: 1em;
      text-align: center;
      margin: 2em 0em 2em 0em;
      min-height: 2em;

    }

    h1 {
      font-size: 2em;
      color: white;
      text-align: center;
    }

    .table {
      border: 1px solid black;
    }

    .admin_title {
      color: darkslategrey;
    }
    
    .delete {
      background-color: #d82679;
    }

    .cadre {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 2em;
      margin-top: 5%;
      border-radius: 1em;
    }

    .image_preview {
      max-height: 300px;
    }

    .text_area {
      width: 50%;
      //height: 100%;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 5px;
    }

    .input-title{
      border-radius: 5px;
      padding: 5px;
      width: 50%;
    }
    .nav {
      background-color: green;
    }

    .admin_img{
      width: 200px;
    }
}