/*//////////////////////////////////////////////
///////////// _admin.scss /////////////////////
//////////////////////////////////////////////*/


#_admin {
    background-color: rgba(0, 120, 122, 0.6);

    .admin_button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      width: 181px;
    }
    .admin_title {


    }
    .admin_content {

    }

    .admin_show {

    }

  .admin_edit {

  }

  .admin_edit {

  }
}