/*//////////////////////////////////////////////
///////////// _contact.scss ////////////////////
//////////////////////////////////////////////*/

#contact {
  display: inline-block;
}
.map-holder {
  width: 600px;
  height: 500px;
}
#map {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 3em;
  margin-left: 2em;
  border: 2px grey solid;
}

.contact_form {

  margin-bottom: 3em;
  padding: 2em;
}

.button {
  margin: 2em;
}