/*//////////////////////////////////////////////
///////////// _contact.scss ////////////////////
//////////////////////////////////////////////*/

#_contact {
  #_template_header, #_template_footer {
    background-color: $contact-color;
  }

  .page-content > * {
    margin: 0 !important;
  }
  #contact {
    display: inline-block;
  }
  .map-holder {
    //width: 600px;
    height: 400px;
  }
  #map {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 3em;
    margin-left: 2em;
    border: 2px grey solid;
  }

  .contact_form {

    margin-bottom: 3em;
    padding: 2em;
  }

  .button {
    margin: 2em;
  }
}