/*//////////////////////////////////////////////
////////////////// _homepage.scss /////////////////
//////////////////////////////////////////////*/

$icone-transparency: 0.4;
$rubrique-width : 300px;
$rubrique-height : 300px;

#_homepage {
	height: 100%;
	font-family: sans-serif;
	margin: 0;

	#homepage_video {
		position: fixed;
		min-width: 100%;
		min-height: 100%;
		z-index: -100;
	}

	#homepage_wrapper {
		display: table;
		height: 100%;
		width: 100%;
	}
	/*//////////////////////////////
	// Mise en page corps accueil //
	//////////////////////////////*/

	#homepage_corps {
		text-align: center;
	}

	/* Mise en page de l'accroche et des rubriques */

	#homepage_catchPhrase {
		color: white;
		font-size:2.5em;
		font-weight: bold;
		text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
	}

	#homepage_focus {
		text-align: center;
		margin-bottom: 40px;
	}

	.homepage_rubrique {
		display: inline-block;
		border-radius: 10px;
		margin: 5px;
		text-decoration: none;
		color: white;
		@include transition(all 1s ease);
		.homepage_rubrique_title {
			font-size: 1.2em;
			margin-top: 5px;
			font-weight: bold;
		}
		.homepage_rubrique_text{
			font-size: 0.9em;
			text-align: justify;
		}

		.homepage_rubrique_img {
			margin-top: 10px;
		}
	}
	
	@media all and (min-width: 901px) {
		#homepage_video {
			position: fixed;
			min-width: 100%;
			min-height: 100%;
			z-index: -100;
		}
		#homepage_wrapper {
			display: table;
			height: 100%;
			width: 100%;
		}
		#homepage_corps {
			position: relative;
			display: table-row;
			width: 100%;
			height: 100%;
		}

		#homepage_focus {
			position:absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			margin: auto;
		}
		#homepage_catchPhrase {
			margin-top: 10%;
		}
		.homepage_rubrique {
			width: 180px;
			height: 190px;
			overflow: hidden;
			text-align:center;
			@include transition(all 1s ease);
			.homepage_rubrique_text{
				margin: 10px;
				width: 270px;
				text-align: justify;
			}

			.homepage_rubrique_img {
				max-width:90%;
				max-height:90%;
			}

			.focus-text-wrapper{
				overflow: auto;
				height: 110px;
				margin-top: 10px;
			}
			.focus-img-wrapper{
				margin: 10px;
				height: 140px;
			}
		}
		.homepage_rubrique.hover {
			height: $rubrique-height;
			width: $rubrique-width;
			margin-top: -110px;
			box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
		}
	}

	@media all and (max-width: 900px) {
		#homepage_focus {
			margin-top: 40px;
		}
		#homepage_catchPhrase {
			margin-top: 120px;
		}
		.homepage_rubrique {
			overflow: auto;
			text-align:center;
			height: 400px;
			width: 40%;
			.homepage_rubrique_text{
				margin: 10px;
				max-width: 90%;
				min-height: 60%;
			}
			.homepage_rubrique_img {
				max-width: 90%;
				max-height: 40%;
			}
		}
	}

	// Typed.js pointer
	.typed-cursor{
		display: none;
	}

	.homepage_rubrique.section1Link {
		background-color: transparentize($section1-color, $icone-transparency);
	}
	.section1Link.hover {
		background-color: $section1-color;
	}

	.homepage_rubrique.section2Link {
		background-color: transparentize($section2-color, $icone-transparency);
	}
	.section2Link.hover {
		background-color: $section2-color;
	}

	.homepage_rubrique.section3Link {
		background-color: transparentize($section3-color, $icone-transparency);;
	}
	.section3Link.hover {
		background-color: $section3-color;
	}

	.homepage_rubrique.section4Link {
		background-color: transparentize($section4-color, $icone-transparency);
	}
	.section4Link.hover {
		background-color: $section4-color;
	}
}