/*//////////////////////////////////////////////
/////////////// _index_header.scss /////////////
//////////////////////////////////////////////*/

#_index_header {
	height:80px;
	display:table-row;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
	font-size:1em;
	font-weight:bold;

	#logo{
		width:70px;
		float:left;
		margin:5px;
		margin-right:60px;
	}
	#menu{
		float:right;
		margin-right:10px;
	}

	#menu ul {
		list-style-type: none;
		overflow: hidden;
	}

	#menu li{
		display:inline;
		margin-right:10px
	}

	#menu a {
		text-decoration:none;
		display:inline-block;
		padding:5px;
		border-radius:10px;
		color: white;
	}

	#langues {
	}

	#langues li {
		display: inline;
	}

	#langues a {
		margin:3px;
		border-radius:10px;
		text-decoration: none;
		padding:5px;
		color: white;
	}
	#langues p{
		display:inline;
		color: white;
	}
	.accueil:hover, #langues a:hover, .contact:hover{
		background-color: blue;
	}
}