/*//////////////////////////////////////////////
////////////////// _index.scss /////////////////
//////////////////////////////////////////////*/

$icone-transparency: 0.4;
#_index {
	#index_video {
		position: fixed;
		min-width: 100%;
		min-height: 100%;
		z-index: -100;
	}

	#index_wrapper {
		display: table;
		height: 100%;
		width: 100%;
	}

	/*//////////////////////////////
	// Mise en page corps accueil //
	//////////////////////////////*/

	#index_corps {
		text-align: center;
		position: relative;
		display: table-row;
		width: 100%;
		height: 100%;
	}

	/* Mise en page de l'accroche et des rubriques */

	#index_catchPhrase {
		margin-top: 10%;
		color: white;
		font-size:2.5em;
		font-weight: bold;
		text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
	}

	#index_focus {
		position:absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		margin-bottom: 40px;
	}

	.index_rubrique {
		display: inline-block;
		border-radius: 10px;
		width: 180px;
		height: 190px;
		margin: 5px;
		overflow: hidden;
		text-decoration: none;
		color: white;
		@include transition(all 1s ease);
		p {
			font-size: 18px;
			margin: 0;
		}
		.index_rubrique_img {
			width: 120px;
			margin-top: 10px;
		}
	}



	.index_rubrique.hover {
		height: 300px;
		width: 300px;
		margin-top: -110px;
		box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
	}

	// Typed.js pointer
	.typed-cursor{
		display:none;
	}

	.index_rubrique.section1Link {
		background-color: transparentize($section1-color, $icone-transparency);
	}
	.section1Link.hover {
		background-color: $section1-color;
	}

	.index_rubrique.section2Link {
		background-color: transparentize($section2-color, $icone-transparency);
	}
	.section2Link.hover {
		background-color: $section2-color;
	}

	.index_rubrique.section3Link {
		background-color: transparentize($section3-color, $icone-transparency);;
	}
	.section3Link.hover {
		background-color: $section3-color;
	}

	.index_rubrique.section4Link {
		background-color: transparentize($section4-color, $icone-transparency);
	}
	.section4Link.hover {
		background-color: $section4-color;
	}
}