.postAdmin {
  background-color: RGBA(255, 255, 255, 0.8);
  margin-top: 15px;
  padding: 20px;
  border-radius: 15px;
}

.postContainer, .PostMain {
  flex: 1 0 auto;
}

//************************
// Page index post
//************************
.postSectionIndex {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.postAsideIndex {

}

.postArticleIndex {

}
.postListTitleCat {
  background-color: #ffb84d !important;
}

.postListTitlePost {
  background-color: #00bcd4 !important;
}

.postDivPrincipale {
  padding-bottom: 0px !important;
}
