////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////// Compilez ce fichier via la commande sass style.scss style.css  ////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//// Variables ////
$section1-color: rgb(7, 64, 10);
$section2-color: rgb(140, 104, 34);
$section3-color: rgb(39, 34, 140);
$section4-color: rgb(183, 21, 134);
$contact-color: rgb(39, 34, 140);
$homepage-footer-color: rgb(0, 120, 122);
$footer-bottom-color: rgb(0, 63, 64);

@mixin transition($params) {
	-webkit-transition: $params;
	-moz-transition: $params;
	-o-transition: $params;
	-ms-transition: $params;
	transition: $params;
}

* {
	margin: 0;
	padding: 0;
}
$border-radius: 3px;

html {
	height: 100%;
	font-family: sans-serif;
	margin: 0;
}

//// Ajoutez ici vos fichiers ("@import ma_page" importe _ma_page.scss) ////@import 'homepage_header';
@import 'homepage';
@import 'homepage_footer';
@import "homepage_header";
@import 'template_header';
@import 'template_footer';
@import 'template';
@import '../../../../../ForumBundle/Resources/public/sass/_post.scss';
@import '../../../../../CalendarBundle/Resources/public/sass/_calendar.scss';
@import 'PlateformeCSS/_layout_plateforme.scss';
@import 'PlateformeCSS/_homepage_plateforme.scss';
@import 'PlateformeCSS/_FosUser.scss';
@import 'PlateformeCSS/_user_list.scss';
@import 'PlateformeCSS/_philosophie.scss';
@import 'PlateformeCSS/_general.scss';
@import '../../../../../ForumBundle/Resources/public/sass/_categorieplateforme.scss';
@import '../../../../../CalendarBundle/Resources/public/sass/_calendar.scss';
