{% extends "@PlateForme/layout.html.twig" %}

{% block body %}
    <div class="container">
{% block fos_user_content %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
    </div>
{% endblock %}

