###################
### Git Ignore ####
###################

####  Symfony
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
app/logs/
app/phpunit.xml.dist
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
composer.lock

#### Fichiers temporaires
*~

#### Sass Files
.sass-cache/

#### Mac Files
.DS_Store

#### Php Storm Files
.idea
