{% extends '@PlateForme/layout.html.twig' %}


{% block body %}

<div class="container philosophie">
    <h2>Philosophie de la plateforme</h2>

    <h3>Réglement et utilisation</h3>
</div>

{% endblock %}



{% block javascripts %}

    {{ parent() }}



{% endblock %}