/*//////////////////////////////////////////////
////////////////// _index.scss /////////////////
//////////////////////////////////////////////*/

body, html {
	height: 100%;
	font-family: sans-serif;
	margin: 0;
}

#index_video {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
}

#index_wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

/*//////////////////////////////
// Mise en page corps accueil //
//////////////////////////////*/

#index_corps {
	display: table-row;
	width: 100%;
	height: 100%;
}

/* Mise en page de l'aside avec les icones des réseaux sociaux */

#index_social {
	float: left;
	margin-top: 8%;
	text-align: center;
	width: 70px;
}

.icone-social {
	width: 50px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.icone-social:hover {
	transform: scale(1.3) rotateZ(360deg);

}

/* Mise en page de l'accroche et des rubriques */

#index_accroche {
	margin-top: 10%;
	text-align: center;
	color: white;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

#index_focus {
	margin-top:17%;
	position:relative;
	text-align: center;
	margin-bottom: 40px;
}

.index_rubrique {
	display: inline-block;
	border-radius: 10px;
	width: 200px;
	height: 190px;
	margin: 5px;
	overflow: hidden;
	@include transition(all 1s ease);
}

.index_rubrique_img {
	width: 150px;
	margin-top: 10px;
}

.index_rubrique p {
	font-size: 18px;
	margin: 0;
}

.index_rubrique.tourisme {
	background-color: rgba(7, 64, 10, 0.6);
}

.index_rubrique.travail {
	background-color: rgba(140, 104, 34, 0.6);
}

.index_rubrique.ecologie {
	background-color: rgba(39, 34, 140, 0.6);
}

.index_rubrique.accessibilite {
	background-color: rgba(183, 21, 134, 0.6);
}

.index_rubrique.hover {
	height: 300px;
	width: 300px;
	margin-top: -110px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.tourisme.hover {
	background-color: rgba(7, 64, 10, 1);
}

.travail.hover {
	background-color: rgba(140, 104, 34, 1);
}

.ecologie.hover {
	background-color: rgba(39, 34, 140, 1);
}

.accessibilite.hover {
	background-color: rgba(183, 21, 134, 1);
}