/*//////////////////////////////////////////////
//////////////// _skeleton.scss ////////////////
//////////////////////////////////////////////*/

#skeleton {
  .article {
    border: 20px solid black;
    background-color: fuchsia;
    border-radius: 15px;
  }
}