/*//////////////////////////////////////////////
//////////////// _template.scss ////////////////
//////////////////////////////////////////////*/

#template {
	.article {
		border: 20px solid black;
		background-color: fuchsia;
		border-radius: 15px;
	}
}