/*//////////////////////////////////////////////
/////////////// _index_header.scss /////////////
//////////////////////////////////////////////*/

#_index_header {
	

	header {
		display:table-row;
		min-width:100%;
		height:100px;
		background-color:white;
	}
	#logo{
		width:100px;
		float:left;
	}
	li {
		display: inline;
		margin:10px;
	}

	ul {
		list-style-type: none;
		overflow: hidden;
	}

	.accueil:hover, #langues a:hover {
		background-color: red;
	}

	#menu{
		float: right;
	}

	#menu a {
		color: white;
		text-decoration: none;
	}

	#langues ul {
	}

	#langues li {
		display: inline;
	}

	#langues a {
		padding: 15px;
		color: white;
		text-decoration: none;
	}
}