body,html{
  margin:0;
  font-family:sans-serif;
  overflow:hidden;
}

video{
	position:fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
}

#logo{
	margin:10px;
	width:100px;
	height:100px;
}

#menu{
}

/*Texte d'accroche */
.accroche{
	position:absolute;
	top:35%;
	width:100%;
	text-align:center;
	color:white;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

/*Ensemble des icônes */
#focus{
	position:absolute;
	width:100%;
	top:60%;
	text-align:center;
}

.focus_img{
	width:150px;
	margin-top:10px;
}

/*Pour chacun des icônes */
.show{
	position:relative;
	display:inline-block;
	border-radius:10px;
	width:200px;
	height:190px;
	margin:5px;
	overflow:hidden;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.show p{
	margin:0;
	font-size:18px;
}

.show.tourisme{
	background-color: rgba(7,64,10,0.6);
}

.show.travail{
	background-color: rgba(140, 104, 34, 0.6);
}

.show.ecologie{
	background-color: rgba(39, 34, 140, 0.6);
}

.show.accessibilite{
	background-color: rgba(183, 21, 134, 0.6);
}

.show.hover{
	height:300px;
    width:300px;
    margin-top:-250px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
 }

.tourisme.hover{
 	background-color: rgba(7,64,10,1);
 }

.travail.hover{
	background-color: rgba(140, 104, 34, 1);
}

.ecologie.hover{
	background-color: rgba(39, 34, 140, 1);
}

.accessibilite.hover{
	background-color: rgba(183, 21, 134, 1);
}

.nav.hover{
 	color: white !important;
 }

footer{
	position:absolute;
	left:0;
	bottom:-120px;
	height:150px;
	width:100%;
	background-color:rgba(0, 120, 122, 0.6);
	transition:all 1s;
}

 footer:hover{
 	bottom:0;
 	background-color:rgba(0, 120, 122, 1);
 	transition: all 1s;
	 -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
 }

/*HEADER*/

header {
	position:absolute;
	width:100%;
	background-color:rgba(0, 120, 122, 0.6);
}

#menu ul {
	float:right;
	padding-top:30px;
	padding-right:10px;
}

#menu li {
    display: inline;
}

#menu a {
    padding: 15px;
    color:white;
    text-decoration: none;
}

#langues ul {
	float:right;
	margin-top:-40px;
	padding-right:10px;
}

#langues li {
    display: inline;
}

#langues a {
    padding: 15px;
    color:white;
    text-decoration: none;
}
