<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Haras de la métamorphose - administration{% endblock %}</title>
    {% block materialize %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    {% endblock materialize %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/haras/styles/stylesheets/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('licos.ico') }}" />
</head>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/haras/scripts/jquery-3.1.1.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="{{ asset('bundles/haras/scripts/admin_script.js') }}"></script>
{% endblock %}
</body>
</html>