.nav-wrapper{
  font-size: 16px;
  background-color: #515e69;
}

.decouverte:hover{
  background-color: rgba(10, 112, 14, 0.6)!important;
}

.harras:hover{
  background-color: rgba(84, 39, 20, 0.6)!important;
}

.detente:hover{
  background-color: rgba(62, 62, 129, 0.6)!important;
}

.coworking:hover{
  background-color:rgba(183, 21, 134, 0.6)!important;
}

#logo{
  height: 58px;
}

.navbar2{
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

#logo{
  background-color:#78ab4e;
  height:64px;
}

#logo:hover{
  background-color: #496b35;
}



