<style>
    body {
        background-image: url("https://dl.dropboxusercontent.com/s/v9qpub7hk3jggy6/background.png")
    }
</style>

<aside >
    <ul id="staggered-list" class="side-nav fixed grey darken-4 blue-grey-text text-lighten-4 go">
        <br />

        <div style="text-align:center;" id="profilepic">
            <img src="{{ app.user.photo ? asset(app.user.photo.path) }}" alt="" class="circle responsive-img">
            <br />
            <p>{{ app.user|capitalize }}</p>
        </div>
        <br>
        <br>
        <a id="links" class="blue-text lighten-2" href="{{ path('post_showMesMessages', {'id': app.user.id}) }}">
            <i class="fa fa-clipboard fa-2x fa-fw"></i> Vos messages
        </a>
        <br>
        {# Selection user pour affichage de ses messages #}
        <div>
            {% render(controller("ForumBundle:Post:showListUser")) %}
        </div>
        {# Fin selection user #}
    </ul>
</aside>
