{% if nb < 10 %}
    <i class="fa fa-star-o" aria-hidden="true" style="color: #f1c40f"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #f1c40f"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #f1c40f"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 20 %}
    <i class="fa fa-star-half-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 30 %}
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 40 %}
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-half-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 50 %}
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 60 %}
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-half-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 70 %}
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 80 %}
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-half-o" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 90 %}
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb < 100 %}
    <p>Note égale à 12</p>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star-half-o" aria-hidden="true" style="color: #F1C40F"></i>

{% elseif nb >= 70 %}
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>
    <i class="fa fa-star" aria-hidden="true" style="color: #F1C40F"></i>

{% endif %}


