{% extends "@PlateForme/layout.html.twig" %}

{% block body %}
    <div class="container register">
{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
    </div>
{% endblock %}