{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition de la page {{ page.name }}</h1>
<div>
    {{ render(controller('HarasBundle:Page:getPage', { 'name': 'homepage' })) }}
</div>
    <ul>
        <li>
            <a href="{{ path('page_index') }}">Retourner à la liste des pages</a>
        </li>
        <li>
            <a href="{{ path('page_edit', { 'name': page.name }) }}">Modifier la page</a>
        </li>
    </ul>
{% endblock %}
