{% extends '@PlateForme/layout.html.twig' %}

{% block body %}
<div class="container center" id="philosophiemodel">
    <h2 class="soustitrePage">Modifier</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

    <div class="boutons">
        <a href="{{ path('plate_forme_homepage') }}">
            <button class="user btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                    data-position="bottom"
                    data-delay="50"
                    data-tooltip="Accueil">
                <i class="material-icons right">home</i>
            </button>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <button class="user btn-floating btn-large waves-effect tooltipped btn-login icon-background4" type="submit" name="action"
                    value="Valider l'édition"
                    data-position="bottom"
                    data-delay="50"
                    data-tooltip="Valider">
                <i class="material-icons">check</i>
            </button>
        {% endif %}
    </div>

    {{ form_end(edit_form) }}

</div>
{% endblock %}
