{% extends '@PlateForme/layout.html.twig' %}

{% block body %}
    <div class="container " id="philosophiemodel">
        {#<table>#}
            {#<tbody>#}
            {# Comme on récupère une variable au singulier, avant le in -> philo #}
            {% for philo in philosophie %}
            {#<tr>#}
                {{ philo.texte |raw }}
            {#</tr>#}
            {#</tbody>#}
        {#</table>#}

        <div class="boutons center">
            <a href="{{ path('plate_forme_homepage') }}">
                <button class="user btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                        data-position="bottom"
                        data-delay="50"
                        data-tooltip="Accueil">
                    <i class="material-icons right">home</i>
                </button>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('philosophie_edit', { 'id': philo.id }) }}" title="Editer">
                    <button class="user btn-floating btn-large waves-effect tooltipped icon-background4" type="submit" name="action"
                            data-position="bottom"
                            data-delay="50"
                            data-tooltip="Editer">
                        <i class="material-icons right">edit</i>
                    </button>
                </a>
            {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
