@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  font-family: sans-serif;
  margin: 0; }

/*//////////////////////////////////////////////
/////////////// _index_footer.scss /////////////
//////////////////////////////////////////////*/
#_index_footer:hover {
  background-color: #00787a;
  height: 255px;
  margin-top: -255px; }

#_index_footer {
  overflow: hidden;
  margin-top: -50px;
  height: 50px;
  background-color: rgba(0, 120, 122, 0.6);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  text-align: center;
  font-size: 16px;
  position: relative;
  /* Colonnes footer */
  /* Footer partie basse -> Copyright */
  /*  Footer button*/
  /* form input*/ }
  #_index_footer p {
    font-size: 16px; }
  #_index_footer .footer .footer-left,
  #_index_footer .footer .footer-center,
  #_index_footer .footer .footer-right {
    display: inline-block;
    color: white;
    vertical-align: top;
    text-align: left; }
  #_index_footer #avis {
    font-weight: bold;
    margin-top: 30px;
    text-decoration: none; }
  #_index_footer .footer .footer-left {
    width: 30%;
    /*font-size: 12px;*/ }
  #_index_footer .footer .footer-center {
    width: 30%; }
  #_index_footer .footer .footer-right {
    width: 30%;
    text-align: left; }
  #_index_footer .footer a {
    color: white; }
  #_index_footer #footer-bottom {
    background-color: #003f40;
    text-align: left;
    height: 20px; }
  #_index_footer #copyright {
    padding-left: 5%; }
  #_index_footer #footer-bottom a:link, #_index_footer a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; }
  #_index_footer #footer-bottom a:hover, #_index_footer a:active {
    color: white;
    text-decoration: underline; }
  #_index_footer #mentions {
    padding-left: 2%; }
  #_index_footer button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 181px; }
  #_index_footer .button1 {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50; }
  #_index_footer .button1:hover {
    background-color: white;
    color: #4CAF50; }
  #_index_footer .footer-right form input,
  #_index_footer .footer-right form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    width: 400px;
    padding: 18px; }
  #_index_footer .footer-right ::-webkit-input-placeholder {
    color: #5c666b; }
  #_index_footer .footer-right ::-moz-placeholder {
    color: #5c666b;
    opacity: 1; }
  #_index_footer .footer-right :-ms-input-placeholder {
    color: #5c666b; }
  #_index_footer .footer-right form input {
    height: 55px;
    margin-bottom: 15px;
    width: 181px; }
  #_index_footer .footer-right form textarea {
    height: 100px;
    margin-bottom: 20px; }

/*//////////////////////////////////////////////
/////////////// _index_header.scss /////////////
//////////////////////////////////////////////*/
#_index_header {
  height: 80px;
  display: table-row;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  font-size: 1em;
  font-weight: bold; }
  #_index_header #logo {
    width: 70px;
    float: left;
    margin: 5px;
    margin-right: 60px; }
  #_index_header #menu {
    float: right;
    margin-right: 10px; }
  #_index_header #menu ul {
    list-style-type: none;
    overflow: hidden; }
  #_index_header #menu li {
    display: inline;
    margin-right: 10px; }
  #_index_header #menu a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    color: white; }
  #_index_header #langues li {
    display: inline; }
  #_index_header #langues a {
    margin: 3px;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    color: white; }
  #_index_header #langues p {
    display: inline;
    color: white; }
  #_index_header .accueil:hover, #_index_header #langues a:hover, #_index_header .contact:hover {
    background-color: blue; }

/*//////////////////////////////////////////////
////////////////// _index.scss /////////////////
//////////////////////////////////////////////*/
#_index {
  /*//////////////////////////////
  // Mise en page corps accueil //
  //////////////////////////////*/
  /* Mise en page de l'aside avec les icones des réseaux sociaux */
  /* Mise en page de l'accroche et des rubriques */ }
  #_index #index_video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100; }
  #_index #index_wrapper {
    display: table;
    height: 100%;
    width: 100%; }
  #_index #index_corps {
    position: relative;
    display: table-row;
    width: 100%;
    height: 100%; }
  #_index #index_social {
    float: left;
    margin-top: 8%;
    text-align: center;
    width: 70px; }
  #_index .icone-social {
    width: 50px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s; }
  #_index .icone-social:hover {
    transform: scale(1.3) rotateZ(360deg); }
  #_index #index_accroche {
    margin-top: 10%;
    text-align: center;
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.7); }
  #_index #index_focus {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin-bottom: 40px; }
  #_index .index_rubrique {
    display: inline-block;
    border-radius: 10px;
    width: 180px;
    height: 190px;
    margin: 5px;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; }
  #_index .index_rubrique_img {
    width: 120px;
    margin-top: 10px; }
  #_index .index_rubrique p {
    font-size: 18px;
    margin: 0; }
  #_index .index_rubrique.hover {
    height: 300px;
    width: 300px;
    margin-top: -110px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7); }
  #_index .index_rubrique.section1 {
    background-color: rgba(7, 64, 10, 0.6); }
  #_index .section1.hover {
    background-color: #07400a; }
  #_index .index_rubrique.section2 {
    background-color: rgba(140, 104, 34, 0.6); }
  #_index .section2.hover {
    background-color: #8c6822; }
  #_index .index_rubrique.section3 {
    background-color: rgba(39, 34, 140, 0.6); }
  #_index .section3.hover {
    background-color: #27228c; }
  #_index .index_rubrique.section4 {
    background-color: rgba(183, 21, 134, 0.6); }
  #_index .section4.hover {
    background-color: #b71586; }

/*//////////////////////////////////////////////
///////////// _formulaire_avis.scss /////////////
//////////////////////////////////////////////*/
#formulaire_avis {
  text-align: center; }
  #formulaire_avis span {
    display: inline-block;
    width: 500px; }
  #formulaire_avis p {
    text-align: justify; }
  #formulaire_avis input {
    width: 200px; }
  #formulaire_avis textarea {
    width: 200px;
    border-radius: 5px; }

/*//////////////////////////////////////////////
/////////////// _template_header.scss /////////////
//////////////////////////////////////////////*/
#_template_header {
  background-color: #d82679;
  color: white;
  height: 100px;
  font-size: 16px;
  padding-top: 10px; }
  #_template_header #logo {
    width: 70px;
    float: left;
    margin: 5px;
    margin-right: 60px; }
  #_template_header #menu {
    float: right;
    margin-right: 10px; }
  #_template_header #menu ul {
    list-style-type: none;
    overflow: hidden; }
  #_template_header #menu li {
    display: inline;
    margin-right: 10px; }
  #_template_header #menu a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    color: white; }
  #_template_header #langues ul {
    list-style-type: none;
    overflow: hidden; }
  #_template_header #langues li {
    display: inline; }
  #_template_header #langues a {
    margin: 3px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    color: white; }
  #_template_header #langues p {
    display: inline; }
  #_template_header #langues a:hover {
    background-color: blue; }
  #_template_header .section1:hover {
    background-color: #07400a; }
  #_template_header .section2:hover {
    background-color: #8c6822; }
  #_template_header .section3:hover {
    background-color: #27228c; }
  #_template_header .section4:hover {
    background-color: #b71586; }
  #_template_header .accueil:hover, #_template_header #langues a:hover, #_template_header .contact:hover {
    background-color: blue; }

/*//////////////////////////////////////////////
//////////// _template_footer.scss /////////////
//////////////////////////////////////////////*/
#_template_footer {
  margin-top: 20px;
  background-color: #d82679;
  text-align: center;
  font-size: 1em;
  position: relative;
  /* Colonnes footer */
  /* Footer partie basse -> Copyright */
  /*  Footer button*/
  /* form input*/ }
  #_template_footer .p-titre {
    font-size: 1.4em;
    font-weight: bold; }
  #_template_footer p {
    font-size: 1em; }
  #_template_footer .footer-left,
  #_template_footer .footer-center,
  #_template_footer .footer-right {
    display: inline-block;
    color: white;
    vertical-align: top;
    text-align: left; }
  #_template_footer #avis {
    font-weight: bold;
    margin-top: 30px;
    text-decoration: none; }
  #_template_footer .footer-left {
    width: 30%;
    /*font-size: 12px;*/ }
  #_template_footer .footer-center {
    width: 30%; }
  #_template_footer .footer-right {
    width: 30%;
    text-align: left; }
  #_template_footer a {
    color: white; }
  #_template_footer #footer-bottom {
    background-color: #003f40;
    text-align: left;
    padding: 0.5em; }
  #_template_footer #copyright {
    padding-left: 5%; }
  #_template_footer #footer-bottom a:link, #_template_footer a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; }
  #_template_footer #footer-bottom a:hover, #_template_footer a:active {
    color: white;
    text-decoration: underline; }
  #_template_footer #mentions {
    padding-left: 2%; }
  #_template_footer button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 181px; }
  #_template_footer .button1 {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50; }
  #_template_footer .button1:hover {
    background-color: white;
    color: #4CAF50; }
  #_template_footer .footer-right form input,
  #_template_footer .footer-right form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    width: 400px;
    padding: 18px; }
  #_template_footer .footer-right ::-webkit-input-placeholder {
    color: #5c666b; }
  #_template_footer .footer-right ::-moz-placeholder {
    color: #5c666b;
    opacity: 1; }
  #_template_footer .footer-right :-ms-input-placeholder {
    color: #5c666b; }
  #_template_footer .footer-right form input {
    height: 55px;
    margin-bottom: 15px;
    width: 181px; }
  #_template_footer .footer-right form textarea {
    height: 100px;
    margin-bottom: 20px; }

/*//////////////////////////////////////////////
//////////////// _template.scss ////////////////
//////////////////////////////////////////////*/
/* footer/header colour */
/* footer/header colour */
#_template.section1 footer, #_template.section1 header {
  background-color: #07400a; }

#_template.section2 footer, #_template.section2 header {
  background-color: #8c6822; }

#_template.section3 footer, #_template.section3 header {
  background-color: #27228c; }

#_template.section4 footer, #_template.section4 header {
  background-color: #b71586; }

#_template .media {
  max-width: 40%; }

/*# sourceMappingURL=style.css.map */
