{% extends '@Haras/base.html.twig' %}

{% block materialize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
{% endblock materialize %}

{% block body %}
<body id="template">
    <header id='_template_header'>
        {% include 'HarasBundle::header.html.twig' %}
    </header>
    <div class="container article">
        <div class="row">
            <h1 class="title">Nous contacter</h1>
        </div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
           <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
    {% if send == true %}
        <p>Le formulaire a bien été envoyé</p>
    {% endif %}

    <footer id="_template_footer">
        {% include 'HarasBundle::footer.html.twig' %}
    </footer>
{% endblock body %}