
        <div class="col s12">
            <div id='calendar'></div>
            <div class="row center">
                {% if is_granted('ROLE_SUPER_ADMIN') %}

                    <a href="{{ path('agenda_new') }}">
                        <i class="material-icons md-48 bouton-new">add_circle</i>
                    </a>

                {% elseif is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('agenda_new') }}">
                        <i class="material-icons md-48 bouton-new">add_circle</i>
                    </a>

                {% else %}

                {% endif %}
            </div>
        </div>

<!------------------------------- --------------- ------------------------------------->
<!------------------------------- --------------- ------------------------------------->
<!------------------------------- MODAL STRUCTURE ------------------------------------->
<!------------------------------- --------------- ------------------------------------->
<!------------------------------- --------------- ------------------------------------->
<div id="fullCalModal" class="modal modal-corps"> <!--- DEBUT DE LA MODAL --><!-- modal-fixed-footer -->
    <div class="modal-content">
        <div class="modal-header">
            <div class="center">
                <h5 id="modalTitle" class="modal-title"></h5>
            </div>
        </div>

        <div class="modal-body">

            <div class="card horizontal modal-horizontal">
                <div class="card-image modal-body-image">
                    <h6 id="modalTime" class="modal-body-card"></h6>
                </div>
                <div class="card-stacked">
                    <div class="card-content modal-body-text">
                        <p><span id="modalTexte"></span></p>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer modal-bouton">
        <div class="row right">
            <div class="">

                {% if is_granted("ROLE_SUPER_ADMIN") %}

                    <div class="col s4">
                        <a href="#" id="edit_event">
                            <i class="material-icons md-48 bouton-edit">create</i>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="#" id="delete_event">
                            <i class="material-icons md-48 bouton-delete">delete_sweep</i>
                        </a>
                    </div>

                {% elseif is_granted("ROLE_ADMIN") %}

                    <div class="col s4">
                        <a href="#" id="edit_event">
                            <i class="material-icons md-48 bouton-edit">create</i>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="#" id="delete_event">
                            <i class="material-icons md-48 bouton-delete">delete_sweep</i>
                        </a>
                    </div>

                {% else %}

                {% endif %}

            </div>
        </div>
    </div>

</div> {# ----- FIN DE LA MODAL ----- #}