{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un nouveau média</h1>
    <div class="admin_content">
        {{ form_start(form) }}
        <p>
            {{ form_widget(form) }}
            <input type="submit" value="Enregistrer" />
        </p>
    {{ form_end(form) }}
    </div>
    <div class="admin_button">
        <a href="{{ path('media_index') }}">
            <input type="submit" value="Liste des médias">
        </a>
    </div>
{% endblock %}
