{% extends '@PlateForme/layout.html.twig' %}


{% block body %}

    <style>
        .ContainerNL {
            flex: 1 0 auto;
            /*width: 80%;*/
        }

        .waves-input-wrapper {
            vertical-align: middle;
        }
    </style>

    <div class="ContainerNL">
        {#-------------------------------------------------------------#}
        {# Mise en place message flash #}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="row container">
                <div class="flash-notice center">
                    {{ flash_message }}
                </div>
            </div>
        {% endfor %}
        {#-------------------------------------------------------------#}
        <div class="row container"  >
            <div class="col s12 offset-m4 m4 offset-l4 l5">
                <p>Saississez votre adresse email ci dessous afin de vous désabonner</p>
                <form action="{{ path('desabonnement_newsletter') }}" method="post">
                    <input class="waves-effect waves-light btn" type="submit" value="Valider" />
                    <input style="width: 250px; height: 40px !important;" type="email" name="email" placeholder="E-mail" required="required" class="validate" />
                    <label for="email" data-error="wrong" data-success="right"></label>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
