{% extends '@PlateForme/layout.html.twig' %}


{% block body %}

    <style>
        .ContainerNL {
            flex: 1 0 auto;
            width: 80%;
        }
    </style>

    <div class="row ContainerNL">
        <h2>Saississez votre adresse email ci dessous afin de vous désabonner</h2>
        {#-------------------------------------------------------------#}
        {# Mise en place message flash #}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="row container">
                <div class="flash-notice center">
                    {{ flash_message }}
                </div>
            </div>
        {% endfor %}
        {#-------------------------------------------------------------#}
        <form action="{{ path('desabonnement_newsletter') }}" method="post">
            <input type="email" name="email" placeholder="E-mail" required="required" class="validate" />
            <label for="email" data-error="wrong" data-success="right"></label>
            <input type="submit" value="Valider" />
        </form>
    </div>

{% endblock %}