<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}PLateforme du Haras de la métamorphose{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/haras/styles/stylesheets/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/haras/styles/mate') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('licos.ico') }}" />
</head>
<body>

{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}

<script src="{{ asset('bundles/haras/scripts/jquery-3.1.1.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

{% block javascripts %}{% endblock %}

</body>
</html>

