<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Plateforme du haras de la métamorphose{% endblock %}</title>

    {% block stylesheets %}

    {% endblock %}

</head>
<body>
{% block body %}{% endblock %}

<script src="{{ asset('bundles/haras/scripts/jquery-3.1.1.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

{% block javascripts %}

{% endblock %}
</body>
</html>