{% extends '@PlateForme/layout.html.twig' %}

{% block body %}

    <p>VOS GUEULES .... SANS MOI VOUS TENEZ PAS !!!</p>

    <a href="{{ path('fullcalendar_loader') }}">calendar</a>

    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}

{% endblock %}