{% extends '@PlateForme/layout.html.twig' %}

{% block body %}

    <p>VOS GUEULES .... SANS MOI VOUS TENEZ PAS !!!</p>

    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}


{% endblock %}